@layer native {
  [data-platform~=native] {
    -webkit-tap-highlight-color: transparent;

    .hide-on-native {
      display: none;
    }

    /* Header
    /* ------------------------------------------------------------------------ */

    .header:is(
      :not(:has(.header__title, .header__actions)),
      :not(:has(.header__title, .header__actions--end)):has(.header__actions--start .btn--back:only-child)
    ) {
      block-size: var(--custom-safe-inset-top);
      padding: unset;

      * {
        display: none;
      }
    }

    .header__actions {
      .btn--back {
        display: none;
      }
    }

    /* Card perma
    /* ------------------------------------------------------------------------ */

    .card-perma {
      margin-block-start: 0;
    }

    .card-perma__bg {
      border-start-start-radius: calc(0.2em + clamp(0.25rem, 2vw, var(--padding-block)));
      border-start-end-radius: calc(0.2em + clamp(0.25rem, 2vw, var(--padding-block)));
    }

    /* Search
    /* ------------------------------------------------------------------------ */

    .search__title {
      text-decoration: none;
    }
  }
}
